@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: "chab";
  src: url("/public/font/chab.ttf") format("truetype");
  font-weight: normal;
}

/* reset */
div,
a,
span,
menu,
ul,
li,
h1,
h2,
h3,
article {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dpNon {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div {
  font-size: 50px;
}

#root {
  display: inline-block;
  width: 100%;
}

.App {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.playBoard {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 450px;
  text-align: center;
  z-index: 100;
}

/* 헤더 */
.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header .ttl {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.header .menuLst {
  display: inline-flex;
  margin-right: 10px;
}

.header .menuLst .menu {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 2px;
  font-size: 23px;
  cursor: pointer;
}

.header .menuLst .icon {
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon.create {
  background-image: url(/public/img/test.png);
}

.icon.setting {
  background-image: url(/public/img/setting.png);
}

.icon.question {
  background-image: url(/public/img/question.png);
}

.icon.chart {
  background-image: url(/public/img/chart.png);
}


/* 입력란 */
.inputBx {
  display: inline-block;
  width: 100%;
}

.inputLine {
  float: left;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3.5px;
}

.charItem {
  font-family: "swap";
  font-weight: bold;
  float: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  font-size: 24px;
  margin-left: 3.5px;
  transition: 0.3s;
}

.charItem:first-of-type {
  margin-left: 0;
}

.charItem.active {
  border: 2px solid #000;
}

.charItem.correct, .keyboardBtn.correct {
  color: #fff;
  background-color: #22c55e;
  border: 2px solid #22c55e;
}

.charItem.present, .keyboardBtn.present {
  color: #fff;
  background-color: #eab308;
  border: 2px solid #eab308;
}

.charItem.absent, .keyboardBtn.absent {
  color: #fff;
  background-color: #94a3b8;
  border: 2px solid #94a3b8;
}

.charItem.err {
  color: #f87171;
  border: 2px solid #000;
}

/* 키보드 */
.keyboard{
  display: inline-block;
  text-align: center;
  margin-top: 24px;
}

.keyboardLine {
  display: inline-flex;
  width: 100%;
  float: left;
  justify-content: center;
}

.keyboardBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 58px;
  margin: 2px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: #e2e8f0;
  cursor: pointer;
}

.keyboardFuncBtn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 58px;
  margin: 2px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: #e2e8f0;
  cursor: pointer;
}

/* 팝업 */
.alertPopup{
  position: absolute;
  top: 80px;
  left: calc((100% - 300px) / 2);
  display: inline-block;
  min-width: 300px;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: normal;
  background-color: #f9caca;
  box-sizing: border-box;
  transition: 1s;
}

.alertPopup.success{
  background-color: #cdf9ca;
}

/* EZ모드 배경 */
.blossomLeaf{
  position: absolute;
  width: 150px;
  height: 150px;
  background-size: auto;
  background-repeat: no-repeat;
  top: -15vh;
  left: 0;
}

.blossomLeaf.img1 {
  background-image: url('/public/img/blossom_leaf_1.png');
  animation: snowfall_1 13s linear infinite;
  animation-delay: 0;
}
@keyframes snowfall_1 {
  0% {
    transform: translate3d(5vw, 0, 0);
  }
  50% {
    transform: translate3d(20vw, 50vh, 0);
  }
  100% {
    transform: translate3d(10vw, 120vh, 0);
  }
}

.blossomLeaf.img2 {
  background-image: url('/public/img/blossom_leaf_2.png');
  animation: snowfall_2 6s linear infinite;
  animation-delay: 0;
}
@keyframes snowfall_2 {
  0% {
    transform: translate3d(60vw, 0, 0);
  }
  50% {
    transform: translate3d(45vw, 50vh, 0);
  }
  100% {
    transform: translate3d(50vw, 120vh, 0);
  }
}

.blossomLeaf.img3 {
  background-image: url('/public/img/blossom_leaf_3.png');
  animation: snowfall_3 8s linear infinite;
  animation-delay: 5s;
}
@keyframes snowfall_3 {
  0% {
    transform: translate3d(30vw, 0, 0);
  }
  50% {
    transform: translate3d(18vw, 50vh, 0);
  }
  100% {
    transform: translate3d(25vw, 120vh, 0);
  }
}

.blossomLeaf.img4 {
  background-image: url('/public/img/blossom_leaf_4.png');
  animation: snowfall_4 8s linear infinite;
  animation-delay: 3s;
}
@keyframes snowfall_4 {
  0% {
    transform: translate3d(0vw, 0, 0);
  }
  50% {
    transform: translate3d(10vw, 50vh, 0);
  }
  100% {
    transform: translate3d(7vw, 120vh, 0);
  }
}

.blossomLeaf.img5 {
  background-image: url('/public/img/blossom_leaf_5.png');
  animation: snowfall_5 8s linear infinite;
  animation-delay: 3s;
}
@keyframes snowfall_5 {
  0% {
    transform: translate3d(80vw, 0, 0);
  }
  50% {
    transform: translate3d(90vw, 50vh, 0);
  }
  100% {
    transform: translate3d(85vw, 120vh, 0);
  }
}

.blossomLeaf.img6 {
  background-image: url('/public/img/blossom_leaf_6.png');
  animation: snowfall_6 13s linear infinite;
  animation-delay: 10s;
}
@keyframes snowfall_6 {
  0% {
    transform: translate3d(70vw, 0, 0);
  }
  50% {
    transform: translate3d(78vw, 50vh, 0);
  }
  100% {
    transform: translate3d(70vw, 120vh, 0);
  }
}

.blossomLeaf.img7 {
  background-image: url('/public/img/blossom_leaf_7.png');
  animation: snowfall_7 7s linear infinite;
  animation-delay: 1s;
}
@keyframes snowfall_6 {
  0% {
    transform: translate3d(50vw, 0, 0);
  }
  50% {
    transform: translate3d(58vw, 50vh, 0);
  }
  100% {
    transform: translate3d(60vw, 120vh, 0);
  }
}