@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face { /* 애플산돌고딕 폰트 적용 */
  font-family: "chab";
  src: url("/public/font/chab.ttf") format("truetype");
  font-weight: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
}
